# Ignore node_modules directory for both frontend and backend
node_modules/

# Ignore environment-specific files
.env
.env.local

# Ignore build output or compiled files for both frontend and backend
/build/
/dist/
/out/
/.next/

# Ignore any other files or directories specific to your project
...

# Ignore files specific to frontend
/frontend/node_modules/
/frontend/.next/

# Ignore files specific to backend
/backend/node_modules/
